
/*//////////// AGENDA.HTML & FORMULAIRE.HTML ////////////*/


/*//////////// Fonts ////////////*/

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Medium.ttf') format('truetype'); 
  }  

/*//////////// Structure & Style ////////////*/

body{
    background:rgb(204, 204, 204);
}

.main_container{
    display: flex;
    align-items:center;
    justify-content: center;
    height : 800px;

}
.calendar_container{
    width : 1000px;
    height : 600px;
    background-color : rgb(158, 158, 243);
    border-radius:5%;
    display : flex;
    flex-direction : row;
}

.current_day{
    width : 350px;
    height : auto;
    background-color: antiquewhite;
    border-radius: 30px 0px 0% 30px ;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;}

.current_date{
    font-size : 200px;
    font-weight : 900;
    line-height : 170px;
}

.current_week_day{
    font-size : 40px;
    font-weight : 900;
}

.current_events_title{
    padding-top:60px;
    font-weight : 900;
    margin-left : -150px;
    font-size : 20px;
    line-height : 60px;
}

.create_event{
    padding-top:60px;
    font-weight : 900;
    margin-left : -10px;
    font-size : 20px;
}

.fa-plus{
    font-size: 1.6em;
    width: 1.4em;
    text-align: center;
    line-height: 1.4em;
    background: rgb(158, 158, 243);
    color: #fff;
    border-radius: 0.8em; 
    padding-top:-10px;
}

.fa-plus:hover{
    color : antiquewhite;
}

.create_event a{
    text-decoration : none;
}

/*//____________ Style calendar ____________//*/

.calendar {
    font-family:Roboto;
    font-weight : 100;
    font-size : 17px;
    display:flex;
    flex-direction:column;
    justify-content : flex-start;
    margin-left:10px;
    margin-right:10px;
    margin-top:120px;
    gap: 50px;
}

.year{
    font-size:50px;
    font-weight : 900;
    justify-content: flex-end;
    display : flex;
}

.fa-caret-left {
   font-size:40px;
   color:rgb(227, 227, 253);
}

.fa-caret-right{
    font-size:40px;
    color: rgb(227, 227, 253);   
 }

.fa-caret-left:hover{
    color:white;
}

.fa-caret-right:hover{
    color:white;
}

.months{
    font-size:15px;
    border: 1px solid black;
}

.week_days{
    font-weight : 900;
    color : rgb(227, 227, 253);
}

table .current{
    color:white;
    font-weight : 900;
}

.numbers .current{
    color: rgb(158, 158, 243);
    font-weight : 900;
    background:antiquewhite;   
    border-radius : 100%;
}

.day:hover {
    color:rgb(227, 227, 253);
}

.months_u:hover{
    color:rgb(227, 227, 253);
}

table{
    table-layout: auto;
    height : 300px;
    font-weight : 100;
}

td{
    width: 15%;
    /* border:solid black; */
    text-align :center;
}

th,td {
    font-weight : 500;
  }


  /*//////////// FORMULAIRE.HTML ////////////*/

  /*//____________ Animation ____________//*/


 #form{
    animation: move 5.5s;
    animation-fill-mode: forwards;
    padding-top:100px;
  }

  .form_container{
      height : 200px;
      width : 200px;
      background-color: whitesmoke;
      width : 700px;
      height : 400px;
      background-color : rgb(158, 158, 243);
      border-radius:5%;
      display : flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: Roboto;
      font-weight : 300;
  }

  .second_main_container{
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move2 1.5s;
    animation-fill-mode: forwards;
    margin-top :-500px;
  }

  @keyframes move {
    from {padding-top: 100px;}
    to {padding-top: 2000px; }
  }
  @keyframes move2 {
    from {padding-top: 0px;}
    to {padding-top: 600px; }
  }
  
  /* Contact_form */

.back_agenda a{
    text-decoration : none;
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    width : 90%;
  }

.back_agenda a:hover{
    color:antiquewhite;
    text-decoration : none;
  }
  
.back_agenda a:visited{
  color:white;
  text-decoration : none;
}

.back_agenda a:visited:hover{
    color:antiquewhite;
    text-decoration : none;
  }

input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
.fa-undo{
    font-size: 2em;
    margin-bottom: 40px;
    border-radius: 100%;
}

.fa-undo:hover{
    color:black;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=text] {
    margin-top: 20px;
    font-family: monospace;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }

form{
    display: flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
  }