.fa-caret-left {
    font-size:40px;
    color:rgb(227, 227, 253);
 }
 
 .fa-caret-left:hover{
     color:black;
 }

.test a{
    text-decoration:none;
}

.test a:visited{
    color:red;
    text-decoration : none;
  }

  .test a:visited:hover{
    color:yellow;
    text-decoration : none;
  }

  .fa-caret-right:hover{
    color:black;
}

.fa-caret-right{
    font-size:40px;
    color: rgb(227, 227, 253);   
 }
 
.year{
    font-size:50px;
    font-weight : 900;
    display : flex;
    flex-direction : row;
    justify-content: flex-end;
    margin-left : 400px;
    margin-bottom:-80px;
}